.container, html, body {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  }
  
  body {
    background: url(/static/images/frontpage.png) no-repeat center center fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  }
  
  .loginform {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
  }

  .instructions {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
  }
  
  .logintext {
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #2e5216;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .content {
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: row;
    margin: 5%
  }

  .button {
    margin-top: 20px;
    width: 100%;
    text-decoration: none;
    background-color: #c6eaae;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #2e5216;
    color: #2e5216;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-weight: bolder;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  input, label {
    display:block;
  }
  
  label {
    padding-bottom: 10px;
  }
  
  input {
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: #2e5216;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  form {
    margin-bottom: 0 !important;
  }