html {
  background: url(/static/images/background1.jpg) no-repeat center center fixed; 

  background-size: cover;
  
}

body {
  margin-right: 50px;
  margin-left: 50px;
  background: transparent;
}

.maincontainer {
background: transparent;
display: flex;
flex-direction: row;
flex-wrap: row;
width: 100%;
margin-left: 0px !important;
margin-right: 0px !important;
justify-content: center;
}

.imagecontainer {
    flex-basis: 25%;
    flex: 1;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid #e1e4e8 !important;

}

.tablecontainer {
    display: flex;
    flex-basis: 75%;
    flex: 2;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid #e1e4e8 !important;
}

.caption {
display: block;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

#chart_div, #soilmoisture_div {
 height: 500px;
 background-color: white;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid #e1e4e8 !important;
}


@media screen and (min-width: 800px) {
    .imagecontainer {
      flex: 1
    }
  
    .tablecontainer {
      flex: 3
    }
  }

  @media screen and (max-width: 1605px) {
   
    .maincontainer {
    flex-direction: column;
    }

  }
  