html {
  background: url(/static/images/background1.jpg) no-repeat center center fixed; 
  background-size: cover;
  overflow-y: scroll;
  
}

body {
  background: transparent;
  margin-left: 2%;
  margin-right: 2%;
}



link:hover {
  text-decoration: none;
}

.captioncontainer {
  display: flex;
  flex-direction: column;
  height: available;
  justify-content: center;
  align-items: center;
}

.maincontainer {
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: row;
  justify-content: center;
  margin: 10px;
}

.img {
  align-self: center;
  max-width: 100%;
  border-radius: 5px;
}

.imagecontainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f1f8e9;
  border-radius: 5px;
  padding: 1.25rem;
  margin: 10px !important;
  justify-content: space-between;
  border: 1px solid #d4d4d4;
}

#tabcontainer {
  background: #f1f8e9 !important;
  border-radius: 5px;
  padding: 0 !important;
  margin: 10px !important;
  border: 1px solid #d4d4d4;
}

#chartdiv {
  background: #f1f8e9 !important;
  border-radius: 5px;
  padding: 0 !important;
  margin: 20px;
  border: 1px solid #d4d4d4;
  overflow: hidden;
}

.maincontainer .tab-content {
  height: calc(100% - (50px)) !important;
}

#data {
  height: 100%;
}

.dataTables_wrapper {
  height: 100%;
}

.bootstrap-table {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fixed-table-pagination {
  margin-top: auto;
}

table, th, td, h1 {
text-align: center;
}

#data, #ai, #form {
  padding: 1.25rem;
}



#forms-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.tab-pane {
  justify-content: center;
  align-items: center;
}

.fixed-table-body {
  height: auto !important;
}

.nav {
  padding: 0.25rem;
}
.page-item.active .page-link {
  color: #526b2d !important;
  background-color: #526b2d !important;
}


.link i {
  color: black !important;
}

#tabcontainer a, #chartdiv a {
color: black !important;
border: 1px solid #d4d4d4 !important;
}

.nav-item {
  background: #f1f8e9 !important;
}

.nav-link.active {
  background: linear-gradient(#526b2d,#f1f8e9) !important;
}



.caption {
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#temperature_div, #humidity_div, #soilmoisture_div, #luminosity_div {
  min-height: 500px;
  background-color: #f1f8e9;
  border-radius: 0 0 5px 5px;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

#temperature, #humidity, #moisture, #luminosity {
  flex-direction: row;
  display: flex;
}

#temperature_ndvi_div, #soilmoisture_ndvi_div, #humidity_ndvi_div, #luminosity_ndvi_div {
  min-height: 500px;
  background-color: #f1f8e9;
  border-radius: 0 0 5px 5px;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

#temperature_dashboard_div, #soilmoisture_dashboard_div, #humidity_dashboard_div, #luminosity_dashboard_div {
  display: flex;
  min-height: 500px;
  background-color: #f1f8e9;
  border-radius: 0 0 5px 5px;
  width: 100%;
  flex-direction: column;
}

#graphscontainer {
  display: flex;
  flex-direction: row;
}

#temperature_filter_div, #soilmoisture_filter_div, #humidity_filter_div, #luminosity_filter_div {
 margin-top: 5px;
 display: flex;
 justify-content: center;
}





#containercharts {
  display: flex;
  flex-direction: row;
}

#chartdiv .tab-content>.tab-pane {
  height: 1px;
  overflow: hidden;
 visibility: hidden;
}
#chartdiv .tab-content>.active {
  height: auto;
  overflow: hidden;
  visibility: visible;
}

@media screen and (min-width: 800px) {
  .imagecontainer {
    flex: 1
  }

  #tabcontainer {
    flex: 3
  }
}

@media screen and (max-width: 1760px) {

  #temperature, #humidity, #moisture, #luminosity {
    flex-direction: column;
  }

  .fixed-table-pagination {
    margin-top: unset;
  }
 
  .maincontainer {
  flex-direction: column;
  }
  .imagecontainer {
    flex: 1;
  }

  #tabcontainer {
    flex: 1;
  }

}
  