<html>

{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/addplant.css' %}">

<head>
<title>Add a plant</title>
</head>

<body>

<div class="container">

  <div class="content">

    <div class="loginform">

    <span class="logintext">Add a new plant to system</span>

    <form action="{% url 'addplant' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <input class="button" type="submit" value="Add">
    </form>

    </div>

    <div class="instructions">
      <p>Supposed</p>
      <p>to</p>
      <p>contain</p>
      <p>instructions</p>
    </div>

  </div>

</div>

</body>

</html>

