
{% include 'default.html' %}

{% load static %}
{% load extras %} 
{% load fontawesome_5 %}
{% fontawesome_5_static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/addplant.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<head>
<title>Add a plant</title>
</head>

<body>

<div class="datacontainer">

  <div class="content">

    <div class="loginform">

    <span class="logintext">Add a new plant to system</span>

    <form action="{% url 'addplant' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <input class="button" type="submit" value="Add">
    </form>

    </div>

    <div class="instructions">
      <p>Supposed</p>
      <p>to</p>
      <p>contain</p>
      <p>instructions</p>
    </div>

  </div>

</div>

<form id="logoutform" method="POST" action="{% url 'customuser:logout' %}">
  {% csrf_token %}
  <input type="hidden">
</form>
</body>

