<!DOCTYPE html>

{% load static %}
<html lang="en">

	<link rel="stylesheet" type="text/css" href="{% static 'css/frontpage.css' %}">
	<body>
		
		<div class="container">
			<div class="leftcolumn">
				<img src="/static/images/greenthumb.png" class="img"/>
			</div>
			<div class="rightcolumn">

					<img id="aalto" src="/static/images/aalto.png">

					<span class="slogan">Join today!</span>
				
					<a class="button" href="{% url 'customuser:login' %}">Log in</a>				
				
					<a class="button" href="{% url 'customuser:signup' %}">Sign up</a>
				
			</div>
		</div>
	</body>
</html>