<!DOCTYPE html>

{% include 'default.html' %}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My plants</title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

{% load static %}

{% load fontawesome_5 %}

{% fontawesome_5_static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/myplants.css' %}">
<link rel=icon href=/static/images/greenthumb.png>

<html lang="en">
	<body>


		<div class="plantcontainer">

			{% for plant in plants %}			

			<a class="plantdiv" href="/myplants/{{ plant.0.id }}">
				{% if plant.2 == "2" %}
					<div class="arrow-right" data-toggle="tooltip" data-placement="bottom" title="Missing database values, please check sensor chip status!" style="background-color: red;"><span>{% fa5_icon 'database' 'fas' %}</span></div>
				{% elif plant.2 == "1" %}
					<div class="arrow-right" data-toggle="tooltip" data-html="true" data-placement="bottom" title="{{ plant.3 }}" style="background-color: #DAA520"><span>{% fa5_icon 'wind' 'fas' %}</span></div>
				{% elif plant.2 == "0" %}
    				<div class="arrow-right" data-toggle="tooltip" data-html="true" data-placement="bottom" title="" style="background-color: #526b2d"><span style="top: 86px !important">{% fa5_icon 'thumbs-up' 'fas' %}</span></div>
				{% else %}
					<div class="arrow-right" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Configuration problem, please contact admin!" style="background-color: red;"><span>{% fa5_icon 'question' 'fas' %}</span></div>
				{% endif %}

				<div class="imagecontainer">
					{% if plant.0.plant_pic %}
						<img src="{{ plant.0.plant_pic.url }}" class="img"/>
					{% else %}
						<img src="/static/images/plant.png" class="img"/>
					{% endif %}
				</div>

				<div class="desccontainer">
				
					{% if plant.0.nickname %}

				<div class="namecontainer">
				<p class="link"><b>{{ plant.0.nickname }}</b></p>
				
				{% else %}
				
				<div class="namecontainer">
				<p class="link"><b>{{ plant.0.deviceid }}</b></p>
				
				{% endif %}

				</div>

				<div class="valuecontainer">

					<div class="iconcontainer">

						<span class="valueicons">{% fa5_icon 'thermometer-quarter' 'fas' %}</span>
						<span class="valueicons">{% fa5_icon 'wind' 'fas' %}</span>
						<span class="valueicons">{% fa5_icon 'tint' 'fas' %}</span>
						<span class="valueicons">{% fa5_icon 'sun' 'fas' %}</span>
				
					</div>

					<div class="datacontainer">

						<span class="values">{{ plant.1.Temperature }} °C</span>
						<span class="values">{{ plant.1.Humidity }} %</span>
						<span class="values">{{ plant.1.SoilMoisture }}</span>
						<span class="values">{{ plant.1.Luminosity }}</span>

					</div>

				</div>

				</div>
				
			</a>
			{% endfor %}

		</div>

		<form id="logoutform" method="POST" action="{% url 'customuser:logout' %}">
			{% csrf_token %}
			<input type="hidden">
		  </form>
	</body>
</html>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>