<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/myplants.css' %}">

<html lang="en">
	<body>
		<div class="logout">
			<a href="#" onClick="document.getElementById('logoutform').submit()"><button class="button" type="button">Logout</button></a>
			<form id="logoutform" method="POST" action="{% url 'customuser:logout' %}">
			{% csrf_token %}
			<input type="hidden">
			</form>
		</div>

		<div class="container">

			

			{% for plant in plants %}
			<div class="plantdiv">
				<div class="imagecontainer">
					<a href="/myplants/{{ plant.0.id }}"><img src="/static/images/plant.png" class="img"/></a>
				</div>
				
				{% if plant.nickname %}
				<a href="/myplants/{{ plant.0.id }}" class="link">{{ plant.0.nickname }}</a>
					{% if not plant.1 %}
						<a href="/myplants/{{ plant.0.id }}" class="link">{{ plant.1 }}</a>
					{% endif %}
				{% else %}
				<a href="/myplants/{{ plant.0.id }}" class="link">{{ plant.0.deviceid }}</a>
					{% if not plant.1 %}
						<a href="/myplants/{{ plant.0.id }}" class="valuelink">Missing values!</a>
					{% endif %}
				{% endif %}
			
			</div>
			{% endfor %}

			<div class="plantdiv">
				<div class="imagecontainer">
					<a href="/addplant/"><img src="/static/images/plus.png" class="img"/></a>
				</div>
				
				<a href="/addplant/" class="link">Add a new plant</a>
			</div>

		</div>	
	</body>
</html>