{% load static %}
{% load extras %}

<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/planttemplate.css' %}">
<head><title>Home Page</title></head>


<body>

<div class="maincontainer">

<div class="imagecontainer">
  <img src="/static/images/plant.png" class="img"/>
  <span class="caption">{{ id }}</span>
</div>


<div class="tablecontainer">

<table id="_appendHere" class="table table-striped">
<tr>
  <th>Temperature</th>
  <th>Humidity</th>
  <th>DeviceId</th>
  <th>MeasurementTime</th>
  <th>ServerTime</th>
  <th>Soil moisture</th>
  <th>SystemId</th>
  <th>Luminosity</th>
</tr>

{% for datarow in plantdatas %}
<tr>
  <td>{{ datarow.Temperature }}</td>
  <td>{{ datarow.Humidity }}</td>
  <td>{{ datarow.DeviceId }}</td>
  <td>{{ datarow.MeasurementTime }}</td>
  <td>{{ datarow.ServerTime }}</td>
  <td>{{ datarow.SoilMoisture }}</td>
  <td>{{ datarow.SystemId }}</td>
  <td>{{ datarow.Luminosity }}</td>
</tr>
{% endfor %}


</table>

</div>



</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="soilmoisture_div"></div>

<div id="chart_div"></div>

</body>
</html>

<style>

table, th, td, h1 {
text-align: center;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

var temperatures = [{% for datarow in plantdatas %} {{ datarow.Temperature }},{% endfor %}].map((elem, index) => [- (index - 9), elem])
var moistures = [{% for datarow in plantdatas %} {{ datarow.SoilMoisture }},{% endfor %}].map((elem, index) => [- (index - 9), elem])

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawTemperatures);
google.charts.setOnLoadCallback(drawSoilMoisture);

$(document).ready(function () {
    $(window).resize(function(){
      drawTemperatures();
      drawSoilMoisture();
    });
});


  function drawTemperatures() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'Temperature');
  
        data.addRows(temperatures);


  
        var options = {
          curveType: 'function',

          hAxis: {
            title: 'Measurement point',
            format:'0',
          },
          vAxis: {
            
            title: 'Temperature',
            
          },
          backgroundColor: '#f1f8e9'
        };
  
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      };
      
      function drawSoilMoisture() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'Moisture');
  
        data.addRows(moistures);
  
        var options = {
          curveType: 'function',

          hAxis: {
            title: 'Measurement point',
            format:'0',
          },
          vAxis: {
            
            title: 'Moisture',
            
          },
          backgroundColor: '#f1f8e9'
        };
  
        var chart = new google.visualization.LineChart(document.getElementById('soilmoisture_div'));
        chart.draw(data, options);
      }

      

      
      </script>
